<div class="container">
  <h2>Example App</h2>

<div class="example">

  <div class="col">
    <h2>Calendar With Container</h2>
    <div class="calendars">
      <app-nba-calendar></app-nba-calendar>
      <app-nba-calendar [calendarConfig]="finalsCalendarConfig"></app-nba-calendar>
    </div>

  </div>

  <div class="col">

    <h2>Calendar without Container</h2>
    <div class="calendars">
      <kendo-calendar></kendo-calendar>
      <kendo-calendar with-navigation></kendo-calendar>
    </div>

  </div>

</div>


</div>
